doctype
html
  head
    title Mergers&Acquisitions Interactive Visualization
    meta(charset='utf-8')
    link(href='lib/multiselect/css/multi-select.css', rel='stylesheet')
    link(href='lib/tipsy.css', rel='stylesheet')
    link(href='lib/styling.css', rel='stylesheet')

  body
    header
      .content
        h1 Mergers&Acquisitions Interactive Visualization

    section#vis
      .content
        #loading Loading
        #main
          #brush-wrapper
            svg.brushchart
          p#comments-header Transaction Comments
          #comments-box
            p#comments-body
          
        #transactions
          #pie-wrapper
            svg.piechart
            table.pie_table
            p#activities-header 
              span.company-short-name 
              | Activities
            .activities-area
              

        #finance
          #financial-control-wrapper 
            #variable-selector Variable
            #company-multi-selector
            button#updatebutton UPDATE
          #ts-wrapper
            svg.tschart
 
        #company-activities
          #activities-control-wrapper
            #event-multi-selector
            button#updatebutton UPDATE
          #bar-wrapper
            svg.barchart

    script(src='lib/d3.v2.min.js')    
    script(src='lib/colorbrewer.js')
    script(src='vis.js')
    
    script(src='lib/jquery.min.js')
    script(src='lib/jquery.tipsy.js')
    script(src='lib/multiselect/js/jquery.multi-select.js')